#root {
  min-width: 1000px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* styles.css */
.custom-select .MuiOutlinedInput-root {
  margin-top: 0;
}


/* Substituir estilos e conteúdo */
.MuiSignInPage-title {
  content: 'Bem-vindo ao Meu App' !important;
  color: #1976d2;
}

.MuiSignInPage-subtitle {
  content: 'Faça login para continuar' !important;
  color: #555;
}
